<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% stylesheets
        '@EncountersBundle/Resources/public/css/tools/reset.css'
        '@EncountersBundle/Resources/public/css/elements/*'
        '@EncountersBundle/Resources/public/css/pages/*'
        '@EncountersBundle/Resources/public/css/core/*'
        output="css/compiled/base.css"
        filter="?yui_css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@EncountersBundle/Resources/public/css/tools/ie.css' output="css/compiled/tools/ie.css" filter="?yui_css" %}
    <!--[if lt IE 9 ]><link rel="stylesheet" href="{{ asset_url }}" type="text/css"  /><![endif]-->
    {% endstylesheets %}
</head>
<body>
<div id="wrapper">
    <div class="app-layout">
        <div class="app-menu-bar">
            <i class="l-rounder"></i>
            <i class="r-rounder"></i>
            <div class="app-menu-bar-inner">
                <ul class="info-meet" style="float:right;">
                    <li class="item-popularity">
                        <div class="bar">
                            <div class="level-background lbc1"></div>
                            <div class="level l1"></div>
                            <div class="speedo-background"></div>
                            <div class="speedo" style="width:0px;"></div>
                        </div>
                    </li>
                    {#<li class="item-setting"><a href="/preferences"></a></li>#}
                    <li class="item-account">
                        <div class="bar"><div class="account"><span>0<i></i></span></div></div>
                    </li>
                    <li class="item-energy"><b class="battery"><b style="width:{{ 1*15 }}%"></b></b>{# <i>{{ webuser.battery*20 }}%</i>#}</li>
                </ul>
                <ul class="info-meet">
                    <li class="item-game"><a href="/search"><b>Поиск</b></a></li>
                    <li class="item-mychoice"><a href="/mychoice"><b>Мой выбор</b>  <i></i></a></li>
                    <li class="item-visitors"><a href="/visitors"><b>Меня смотрели</b> <i></i></a></li>
                    <li class="item-mutual"><a href="/mutual"><b>Взаимные</b> <i class="heart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="none">
            <div class="error-title">Ошибка запуска приложения</div>
            <div class="error">
                <div align="left">
                    <b>Что случилось?</b><br>
                    — Ваш браузер не принимает cookie<br>
                    — Приложение открыто вне сайта знакомств<br>
                    — Случилось что-то непонятное<br>
                </div><br>

                <div align="left">
                    <b>Что же делать?</b><br>
                    — Перезагрузите страницу приложения<br>
                    — Очистите кеш браузера и, возможно, сбросьте его настройки<br>
                    — Проверьте настройки системного времени и сравните с временем на сервере<br>
                    — Воспользуйтесь другим браузером (<a target="_blank" href="http://www.google.com/chrome">Chrome</a>, <a target="_blank" href="http://firefox.com/">Firefox</a>, <a target="_blank" href="http://www.opera.com/">Opera</a>)<br>
                    — Отключите программы класса антивирусов и фаерволов, т.к. они могут мешать нормальному приему файлов cookies<br>
                </div><br>

                <div align="left">
                    <b>Время на сервере:</b><br>
                    {{ "now"|date("Y-m-d H:i:s") }} MSK
                </div>
            </div>
        </div>
    </div>
{% if not app.debug %}
    {% include 'EncountersBundle:tools:ym.html.twig' %}
    {% include 'EncountersBundle:tools:ga.html.twig' %}
{% endif %}
</div>
{% block javascripts %}{% endblock %}
{% javascripts
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    output="js/compiled/core.js"
    filter="?yui_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="http://js.aplatform.ru/app.js"></script>
<script>
    $Config.set('debug', {% if app.debug %} 1 {% else %} 0 {% endif %});
    {% autoescape false %}
    $Routing.setRoutes({{ routes }});
    {% endautoescape %}
    {% block pagejs %}{% endblock %}
    $(document).ready(function(){
        $App.init(location.pathname).run();
    });
</script>
</body>
</html>