{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Gearman{% endblock %}

{% block content %}
    <h2>Gearman</h2>

    {% if items %}
        {% for i, node in keys %}
            <div class="span5" style="margin-left:0; margin-right:10px;">
                <h3>{{ node }}</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                    <th>Функция</th>
                    <th>Задач</th>
                    <th>Активно</th>
                    <th>Рабочих</th>
                    </thead>

                    {% for key, item in items[node] %}
                        <tr{% if item.total > item.workers %} class="warning"{% endif %}>
                            <td>{{ item.function }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.active }}</td>
                            <td>{{ item.workers }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% else %}
        Информация по Герману недоступна.
    {% endif %}
{%  endblock %}