{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Redis{% endblock %}

{% block content %}
    <h2>Redis</h2>

    {% if items %}
        <div class="tabbable tabs-right">
            <ul class="nav nav-tabs">
                {% for i, node in keys %}
                    <li{% if i == 0 %} class="active"{% endif %}><a href="#{{ node|replace({":": '_'} }}" data-toggle="tab"><em class="icon-info-sign"></em> {{ node }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for i, node in keys %}
                    <div class="tab-pane{% if i == 0 %} active{% endif %}" id="{{ node|replace({":": '_'} }}">
                        <div class="span6">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <th>Key</th>
                                <th>Value</th>
                                </thead>

                                {% for key, val in items[node] %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ val }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        Информация недоступна.
    {% endif %}
{%  endblock %}