<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Батарейка пользователя {{ user.id }}</title>
</head>
<body>
<h2>Батарейка пользователя <a target="_blank" href="http://mamba.ru/anketa.phtml?oid={{ user.id }}">{{ user.id }}</a></h2>

<table border="1" cellspacing="10" cellpadding="10" style="border-collapse: collapse;">
    <tr bgcolor="#f1f1f1">
        <td>Текущий заряд батарейки</td>
    </tr>
    <tr>
        <td>{{ user.battery }}</td>
    </tr>
    <tr bgcolor="#f1f1f1">
        <td>Новый заряд батарейки</td>
    </tr>
    <tr>
        <td><form method="POST" onsubmit="return confirm('Вы уверены?');">
            <input type="text" name="battery" value="{{ user.battery }}">
            <input type="submit" value="OK">
        </form></td>
    </tr>
</table>
<br>
&larr; <a href="/admin/user/{{ user.id }}">вернуться к информации о пользователе</a>
</body>
</html>