<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Голосования</title>
</head>
<body>
<h2>Голосования на  {{ "now"|date("H:i") }}</h2>

{% if items %}
<table border="1" cellspacing="10" cellpadding="10" style="border-collapse: collapse;">
<tr bgcolor="#f1f1f1">
    <td>Дата</td>
    <td><font color=red>NO</font></td>
    <td><font color=#999>MAYBE</font></td>
    <td><font color=green>YES</font></td>
    <td>Всего</td>
</tr>
{% for item in items %}
    <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.decision_no }}</td>
        <td>{{ item.decision_maybe }}</td>
        <td>{{ item.decision_yes }}</td>
        <td>{{ item.decision_no + item.decision_maybe + item.decision_yes }}</td>
    </tr>
{% endfor %}
    <tr bgcolor="#f1f1f1">
        <td>Итого:</td>
        <td>{{ info.no }}</td>
        <td>{{ info.maybe }}</td>
        <td>{{ info.yes }}</td>
        <td>{{ info.total }}</td>
    </tr>
</table>
{% else %}
    Информация по голосованиям недоступна.
{% endif %}
</body>
</html>