{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Финансы{% endblock %}

{% block content %}
<div class="span3">
<h3>Финансы</h3>
{% if items %}
<table class="table table-bordered table-hover">
<thead>
    <th>Дата</th>
    <th>На {{ "now"|date("H:i") }}</th>
    <th colspan="2" align="center">За день</th>
</thead>
{% for item in items %}
    <tr class="{% if item.ts|date("N") < 6 %}{% else %}warning{% endif %}">
        <td>{{ item.date }}</td>
        <td>{{ item.current }}</td>
        <td>{{ item.daily }} &copy;</td>
        <td>{{ (item.daily*34)|number_format(2, '.') }} <s>P</s></td>
    </tr>
{% endfor %}
    <tr class="info">
        <td align="center" colspan="2">Итого ({{ info.limit }}):</td>
        <td>{{ info.sum }} &copy;</td>
        <td>{{ (info.sum*34)|number_format(2, '.') }} <s>P</s></td>
    </tr>
</table>
{% else %}
    Информация по финансам недоступна.
{% endif %}
</div>
{%  endblock %}
