{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}События{% endblock %}

{% block content %}
<div class="span8">
{% if items %}
<table class="table table-bordered">
    <thead>
        <th>Дата</th>
        <th>Достижений</th>
        <th>Сообщений</th>
        <th>Нотификаций</th>
        <th>NO</th>
        <th>MAYBE</th>
        <th>YES</th>
        <th>Всего</th>
    </thead>

    {% for item in items %}
        {% if item.item|keys|length > 0 %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{% if item.item.achievement != null %}{{item.item.achievement}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.contacts != null %}{{item.item.contacts}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.notify != null %}{{item.item.notify}}{% else %}&mdash;{% endif %}</td>

                <td>{% if item.item.decision_no != null %}{{item.item.decision_no|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_maybe != null %}{{item.item.decision_maybe|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_yes != null %}{{item.item.decision_yes|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_total != null %}{{item.item.decision_total|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% else %}
    Информация по статистике недоступна.
{% endif %}
</div>
{% endblock %}