<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Статистика</title>
</head>
<body>
<h2>Статистика</h2>

{% if items %}
<table border="1" cellspacing="10" cellpadding="10" style="border-collapse: collapse;">
    <tr bgcolor="#f1f1f1">
        <td>Дата</td>
        <td>Достижений</td>
        <td>Сообщений</td>
        <td>Нотификаций</td>
        <td><font color=red>NO</font></td>
        <td><font color=#999>MAYBE</font></td>
        <td><font color=green>YES</font></td>
        <td>Всего</td>
    </tr>
    {% for item in items %}
        {% if item.item|keys|length > 0 %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{% if item.item.achievement != null %}{{item.item.achievement}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.contacts != null %}{{item.item.contacts}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.notify != null %}{{item.item.notify}}{% else %}&mdash;{% endif %}</td>

                <td>{% if item.item.decision_no != null %}{{item.item.decision_no|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_maybe != null %}{{item.item.decision_maybe|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_yes != null %}{{item.item.decision_yes|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.decision_total != null %}{{item.item.decision_total|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% else %}
    Информация по статистике недоступна.
{% endif %}
</body>
</html>