{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Пользователи{% endblock %}

{% block content %}
    <h2>Пользователи</h2>

    {% if user.id == 0 %}
        {#<div class="span7">#}
            <form method="post" {#onsubmit="return confirm('Уверены?');"#}>
                <legend>Поиск пользователя</legend>
                <label>Идентификатор пользователя:</label>
                <input name="user_id" type="text" placeholder="560015854" required="required" value="560015854">
                <br/>
                <button type="submit" class="btn">Поиск</button>
            </form>
        {#</div>#}
    {% elseif user.info %}
    <div><h3 style="padding-top:0px;margin-top:0px;float:left;"><a target="_blank" href="http://mamba.ru/anketa.phtml?oid={{ user.id }}">{{ user.info.info.name }}</a>, {{ user.info.info.age }}</h3>
    <span>energy: {{ user.energy }}, battery: {{ user.battery }}, account: {{ user.account }}</span></div>
    <br clear="all"/>

    {% if action is defined %}
        {% if action.result %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong> {{ action.action }} succesfully completed.
            </div>
        {% else %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> {{ action.action }} has encountered error.
            </div>
        {% endif %}
    {% endif %}
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#info" data-toggle="tab"><em class="icon-info-sign"></em> Данные платформы</a></li>
            <li><a href="#platform_settings" data-toggle="tab"><em class="{% if platform_settings %}icon-ok{% else %}icon-remove{% endif %}"></em> Настройки платформы</a></li>
            <li><a href="#search_preferences" data-toggle="tab"><em class="{% if search_preferences %}icon-ok{% else %}icon-remove{% endif %}"></em> Поисковые предпочтения</a></li>
            <li><a href="#counters" data-toggle="tab"><em class="{% if counters %}icon-ok{% else %}icon-remove{% endif %}"></em> Счетчики</a></li>
            <li><a href="#variables" data-toggle="tab"><em class="{% if variables %}icon-ok{% else %}icon-remove{% endif %}"></em> Переменные</a></li>
            <li><a href="#billing" data-toggle="tab"><em class="{% if billing %}icon-ok{% else %}icon-remove{% endif %}"></em> Биллинг</a></li>
            <li><a href="#notifications" data-toggle="tab"><em class="{% if notifications %}icon-ok{% else %}icon-remove{% endif %}"></em> Нотификации</a></li>
            <li><a href="#queue" data-toggle="tab"><em class="{% if queues.current %}icon-ok{% else %}icon-remove{% endif %}"></em> Очередь показа</a></li>

            <li><a href="#energy" data-toggle="tab"><em class="icon-wrench"></em> Энергия</a></li>
            <li><a href="#battery" data-toggle="tab"><em class="icon-wrench"></em> Батарейка</a></li>
            <li><a href="#account" data-toggle="tab"><em class="icon-wrench"></em> Сердечки</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="info">
                {% for key, info in user.info_dump %}
                    <h4 style="padding-top:0px;margin-top:0px;">{{ key }}:</h4>
                    <pre>{{ info }}</pre>
                {% endfor %}
            </div>

            <div class="tab-pane" id="platform_settings">
                {% if platform_settings %}
                    <div class="span5">
                    <table class="table table-bordered">
                        <thead>
                            <th>Поле</th>
                            <th>Значение</th>
                        </thead>
                        {% for key, item in platform_settings %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                {% else %}
                    Настройки платформы недоступны.
                {% endif %}
            </div>

            <div class="tab-pane" id="search_preferences">
                {% if search_preferences %}
                    <div class="span6">
                    <table class="table table-bordered">
                        <thead>
                            <th>Поле</th>
                            <th>Значение</th>
                        </thead>
                        {% for key, item in search_preferences %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>
                                    {% if item|keys|length > 0 %}
                                        {{ item|json_encode }}
                                    {% else %}
                                        {% if key == 'changed' %}
                                            {{ item|date("Y-m-d H:i:s") }}
                                        {% else %}
                                            {{ item }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                {% else %}
                    Настройки платформы недоступны.
                {% endif %}
            </div>

            <div class="tab-pane" id="counters">
                {% if counters %}
                    <div class="span4">
                    <table class="table table-bordered">
                        <thead>
                            <th>Счетчик</th>
                            <th>Значение</th>
                        </thead>
                        {% for key, item in counters %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                {% else %}
                    Счетчики недоступны.
                {% endif %}
            </div>

            <div class="tab-pane" id="variables">
                {% if variables %}
                    <div class="span7">
                    <table class="table table-bordered">
                        <thead>
                            <th>Название</th>
                            <th>Значение</th>
                            <th>Срок жизни</th>
                        </thead>
                        {% for key, item in variables %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item.data }}</td>
                                <td>
                                    {% if item.expires %}
                                        {% if "now"|date("U") > item.expires %}
                                            <font color="red">—</font>
                                        {% else %}
                                            <font color="green">{{ item.expires|date("Y-m-d H:i:s") }}</font>
                                        {% endif %}
                                    {% else %}
                                        <font color="green">&infin;</font>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                {% else %}
                    Переменные недоступны.
                {% endif %}
            </div>

            <div class="tab-pane" id="billing">
                {% if billing %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>user_id</th>
                            <th>operation_id</th>
                            <th>amount</th>
                            <th>amount_developer</th>
                            <th>validation_id</th>
                            <th>extra</th>
                            <th>changed</th>
                            <th>billed</th>
                        </thead>
                        {% for item in billing %}
                            <tr>
                                {% for value in item %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Биллинг недоступен.
                {% endif %}
            </div>

            <div class="tab-pane" id="notifications">
                {% if notifications %}
                    <table class="table table-bordered">
                        <thead>
                            <th>Текст</th>
                            <th>Дата</th>
                        </thead>
                        {% for item in notifications %}
                            <tr>
                                <td>{{item.data}}</td>
                                <td>{{item.ts|date("Y-m-d H:i:s")}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Нотификации недоступны.
                {% endif %}
            </div>

            <div class="tab-pane" id="queue">
                {% if queues.current %}
                    <div class="span6"><table class="table table-bordered table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Анкета</th>
                            <th>Админка</th>
                        </thead>
                        {% for key, id in queues.current %}
                            <tr>
                                <td>{{ id }}</td>
                                <td><a target="_blank" href="http://mamba.ru/anketa.phtml?oid={{ id }}"><i class="icon-arrow-right"></i> Перейти</a></td>
                                <td><a target="_blank" href="/admin/application/users/{{ id }}"><i class="icon-wrench"></i> Перейти</a></td>
                            </tr>
                        {% endfor %}
                    </table></div>
                {% else %}
                    Очередь показа недоступна.
                {% endif %}
            </div>

            <div class="tab-pane" id="energy">
                <form method="post"{# onsubmit="return confirm('Уверены?');"#}>
                    <legend>Редактирование энергии</legend>
                    <label>Энергия:</label>
                    <input name="energy" type="text" placeholder="{{ user.energy }}" required="required">
                    <input type="hidden" name="action" value="saveEnergy">
                    <br/>
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            </div>

            <div class="tab-pane" id="battery">
                <form method="post" {#onsubmit="return confirm('Уверены?');"#}>
                    <legend>Редактирование заряда батарейки</legend>
                    <label>Заряд (0—5):</label>
                    <input name="battery" type="text" placeholder="{{ user.battery }}" required="required">
                    <input type="hidden" name="action" value="saveBattery">
                    <br/>
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            </div>

            <div class="tab-pane" id="account">
                <form method="post" {#onsubmit="return confirm('Уверены?');"#}>
                    <legend>Редактирование количества сердечек на счету</legend>
                    <label>Сердечек:</label>
                    <input name="account" type="text" placeholder="{{ user.account }}" required="required">
                    <input type="hidden" name="action" value="saveAccount">
                    <br/>
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        Пользователь <strong>id{{ user.id }}</strong> не найден.
    {% endif %}
{% endblock %}