{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Gearman{% endblock %}

{% block content %}
{% if servers %}
    {% for name, server in servers %}
        <div class="span6">
        <h2>{{ name }}</h2>
        <table class="table table-bordered">
            <thead>
                <th>Функция</th>
                <th>Задач</th>
                <th>Активно</th>
                <th>Рабочих</th>
            </thead>

            {% for item in server %}
                <tr>
                    <td>{{ item.function }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.active }}</td>
                    <td>{{ item.workers }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>

    {% endfor %}
{% else %}
    Информация по Герману недоступна.
{% endif %}
{%  endblock %}