{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Голосования{% endblock %}

{% block content %}
<div class="span4">
<h3>Голосования</h3>
{% if items %}
<table class="table table-bordered table-hover">
<thead>
    <th>Дата</th>
    <th>NO</th>
    <th>MAYBE</th>
    <th>YES</th>
    <th>Всего</th>
</thead>
{% for item in items %}
    <tr class="{% if item.ts|date("N") < 6 %}{% else %}warning{% endif %}">
        <td>{{ item.date }} </td>
        <td>{{ item.decision_no|number_format(0, '.') }}</td>
        <td>{{ item.decision_maybe|number_format(0, '.') }}</td>
        <td>{{ item.decision_yes|number_format(0, '.') }}</td>
        <td>{{ (item.decision_no + item.decision_maybe + item.decision_yes)|number_format(0, '.') }}</td>
    </tr>
{% endfor %}
    <tr class="info">
        <td>Итого:</td>
        <td>{{ info.no|number_format(0, '.') }}</td>
        <td>{{ info.maybe|number_format(0, '.') }}</td>
        <td>{{ info.yes|number_format(0, '.') }}</td>
        <td>{{ info.total|number_format(0, '.') }}</td>
    </tr>
</table>
{% else %}
    Информация по голосованиям недоступна.
{% endif %}
</div>
{% endblock %}