{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}События{% endblock %}

{% block content %}
<div class="span6">
<h3>События</h3>
{% if items %}
<table class="table table-bordered table-hover">
    <thead>
        <th>Дата</th>
        <th>Достижений</th>
        <th>Сообщений</th>
        <th>Нотификаций</th>
    </thead>

    {% for item in items %}
        {% if item.item|keys|length > 0 %}
            <tr class="{% if item.ts|date("N") < 6 %}{% else %}warning{% endif %}">
                <td>{{ item.date }}</td>
                <td>{% if item.item.achievement != null %}{{item.item.achievement|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.contacts != null %}{{item.item.contacts|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
                <td>{% if item.item.notify != null %}{{item.item.notify|number_format(0, '.')}}{% else %}&mdash;{% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="info">
        <td>Итого:</td>
        <td>{{ info.achievement|number_format(0, '.') }}</td>
        <td>{{ info.contacts|number_format(0, '.') }}</td>
        <td>{{ info.notify|number_format(0, '.') }}</td>
    </tr>
</table>
{% else %}
    Информация недоступна.
{% endif %}
</div>
{% endblock %}