<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% stylesheets '@EncountersBundle/Resources/public/css/*' filter="?yui_css" %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets '@EncountersBundle/Resources/public/css/ie/*' filter="?yui_css" %}
<!--[if lt IE 9 ]><link rel="stylesheet" href="{{ asset_url }}" type="text/css"  /><![endif]-->
{% endstylesheets %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% javascripts
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    filter="?yui_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="http://js.aplatform.ru/app.js"></script>
<script>
{% autoescape false %}
{#$Config.set('platform', {{platformSettings}});#}
{#$Config.set('search', {{searchPreferences}});#}
{% endautoescape %}
$(document).ready(function() {
    $App.init(location.pathname).run();
});
</script>
</body>
</html>
