<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% stylesheets
    '@EncountersBundle/Resources/public/css/tools/reset.css'
    '@EncountersBundle/Resources/public/css/elements/*'
    '@EncountersBundle/Resources/public/css/layers/*'
    '@EncountersBundle/Resources/public/css/pages/*'
    '@EncountersBundle/Resources/public/css/core/*'
    output="css/compiled/base.css"
    filter="?yui_css"
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets '@EncountersBundle/Resources/public/css/tools/ie.css' output="css/compiled/tools/ie.css" filter="?yui_css" %}
<!--[if lt IE 9 ]><link rel="stylesheet" href="{{ asset_url }}" type="text/css"  /><![endif]-->
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
<script>
    /**
     * JS-error tracking using Google Analytics
     *
     * @link http://habrahabr.ru/post/149926/
     * @copyright Nikolay Borisov
     */
    var _gaq = window._gaq || [];
    window.onerror = function(msg, url, line) {
        var preventErrorAlert = true;
        _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, 0, true]);
        return preventErrorAlert;
    };
</script>
</head>
<body>
{% if controller != 'messenger' %}
<div id="wrapper">
    <div class="app-layout">
        <div class="app-menu-bar">
            {% if controller == 'search' %}
            <i class="l-menu-rounder"></i>
            {% endif %}
            <i class="l-rounder"></i>
            <i class="r-rounder"></i>
            <div class="app-menu-bar-inner">
                <ul class="info-meet" style="float:right;">
                    <li class="item-profile">
                        <img src="{{ webuser.anketa.info.square_photo_url }}"/>
                        <a href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=profile{{ webuser.anketa.info.oid }}" target="_top"><b>{{ webuser.anketa.info.name }}</b> <i class="plus"><b>{% if webuser.stats.events_unread %}+{{ webuser.stats.events_unread }}{% endif %}</b></i></a>
                    </li>

                    <li class="item-account">
                        <div class="bar"><div class="account"><span>{{ webuser.account }}<i></i></span></div></div>
                    </li>

                    <li class="item-energy"><b class="battery"><b style="width:{{ webuser.battery*15 }}%"></b></b>{# <i>{{ webuser.battery*20 }}%</i>#}</li>
                </ul>
                <ul class="info-meet">
                    <li class="item-game{% if controller == 'search' %} active{% endif %}"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=search"><b>Поиск</b></a></li>
                    {#<li class="item-mychoice{% if controller == 'mychoice' %} active{% endif %}"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=mychoice"><b>Я выбрал{% if webuser.anketa.info.gender == 'F' %}а{% endif %}</b>  <i>{% if webuser.stats.mychoice %}{{ webuser.stats.mychoice }}{% endif %}</i></a></li>#}
                    <li class="item-visitors{% if controller == 'visitors' %} active{% endif %}"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=visitors"><b>Меня смотрели</b> <i class="plus"> <b>{% if webuser.stats.visitors_unread %}+{{ webuser.stats.visitors_unread }}{% endif %}</b></i> <i>{% if webuser.stats.visitors %}{{ webuser.stats.visitors }}{% endif %}</i></a></li>
                    {% if webuser.stats.mutual_unread %}
                        <li class="item-mutual{% if controller == 'mutual' %} active{% endif %}"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=mutual"><b class="mutual_unread">
                            {% if webuser.stats.mutual_unread % 10 == 0 %}
                                {{ webuser.stats.mutual_unread }} новых симпатий
                            {% elseif webuser.stats.mutual_unread % 10 == 1 %}
                                {{ webuser.stats.mutual_unread }} новая симпатия
                            {% elseif webuser.stats.mutual_unread % 10 < 5 %}
                                {{ webuser.stats.mutual_unread }} новые симпатии
                            {% else %}
                                {{ webuser.stats.mutual_unread }} новых симпатий
                            {% endif %}
                        </b></a></li>
                    {% else %}
                        <li class="item-mutual{% if controller == 'mutual' %} active{% endif %}"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=mutual"><b>Взаимные</b> <i class="heart">{% if webuser.stats.mutual %}{{ webuser.stats.mutual }}{% endif %}</i></a></li>
                    {% endif %}

                    {#{% if app.debug or webuser.anketa.info.oid == 560015854 or webuser.anketa.info.oid == 751072037 or webuser.anketa.info.oid == 728011279 or webuser.anketa.info.oid == 742241457 %}#}
                    <li class="item-messages"><a target="_blank" href="/messenger"><b>Сообщения</b>  <i class="plus"><b>{% if webuser.stats.messages_unread %}+{{ webuser.stats.messages_unread }}{% endif %}</b></i></a></li>
                    {#{% endif %}#}
                </ul>
            </div>
        </div>

        {% include 'EncountersBundle:widgets:photoline.html.twig' %}
    </div>

    {% if notification.message %}
        {% if variables.notification_hidden != 1 %}
            <div class="notification">
                <a href="#" class="close"></a>
                <div class="text">{{ notification.message }}</div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

{% block body %}{% endblock %}
{% if not app.debug %}
{% include 'EncountersBundle:tools:ym.html.twig' %}
{% include 'EncountersBundle:tools:ga.html.twig' %}
{% endif %}

{#{% if controller != 'messenger' %}#}
    <div id="debug" style="font-size:13px;{% if not app.debug and webuser.anketa.info.oid != 560015854 and webuser.anketa.info.oid != 751072037 %}display:none;{% else %}background:#fff1d2;border:transparent 2px solid;border-radius: 8px;{% endif %};margin:2px;padding:2px;">
        <span>Generation time: {{ (generation_time*1000)|number_format(2) }} ms</span> <a href="#" onclick="$('#debug .metrics').show();$(this).hide();return false;">details</a><br>

        <div class="metrics" style="display:none;">

            <strong>redis {{ (metrics.redis.timeout*1000)|number_format(2) }} ms</strong>
            <div class="redis-metrics">
                {% for item in metrics.redis.requests %}
                    <strong>{{ loop.index }}</strong>) {{ item.method }} (<strong>{{ (item.timeout*1000)|number_format(2) }}</strong> ms):<pre>{{ item.args|json_encode() }}</pre>
                {% endfor %}
            </div>

            <strong>mamba {{ (metrics.mamba.timeout*1000)|number_format(2) }} ms</strong>
            <div class="mamba-metrics">
                {% for item in metrics.mamba.requests %}
                    <strong>{{ loop.index }}</strong>) {{ item.method }} (<strong>{{ (item.timeout*1000)|number_format(2) }}</strong> ms):<pre>{{ item.params|json_encode(128) }}</pre>
                {% endfor %}
            </div>

            <strong>leveldb {{ (metrics.leveldb.timeout*1000)|number_format(2) }} ms</strong>
            <div class="leveldb-metrics">
                {% for item in metrics.leveldb.requests %}
                    <strong>{{ loop.index }}</strong>) {{ item.request.method }}:
                    {% for key, val in item.request.data %}
                        {% if item.request.method != 'get' %}'<u>{{ key }}</u>' => {% endif %} {{ val }};
                    {% endfor %}<br>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{#{% endif %}#}

{% block javascripts %}{% endblock %}
{% javascripts
    '@EncountersBundle/Resources/public/js/core/jQuery/*'
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/layers/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    output="js/compiled/core.js"
    filter="?yui_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% if controller == 'messenger' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
{% endif %}
<script type="text/javascript" src="http://js.aplatform.ru/v2.js"></script>
<script>
$Config.set('debug', {% if app.debug %} 1 {% else %} 0 {% endif %});
{% autoescape false %}
{% if settings.platform %}$Config.set('platform', {{settings.platform}});{% endif %}
{% if settings.search %}$Config.set('search', {{settings.search}});{% endif %}
$Config.set('webuser', {{ webuser.json }});
$Config.set('variables', {{ variables|json_encode() }});

{% if controller != 'messenger' %}
    $Config.set('photoline', {{ photoline|json_encode() }});
{% endif %}

$Config.set('time', {{ time }});
$Config.set('microtime', {{ microtime }});
$Routing.setRoutes({{ routes }});
{% endautoescape %}

{% if controller != 'messenger' %}
{% if non_app_users_contacts is defined %}
{% if non_app_users_contacts %}
{% autoescape false %}
$Config.set('non_app_users_contacts', {{ non_app_users_contacts|json_encode() }});
{% endautoescape %}
{% endif %}
{% endif %}
{% endif %}

{% block pagejs %}{% endblock %}
$(document).ready(function(){
    jQuery.error = function (message) {
        _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent, 0, true]);
    }

    $Config.set('domready_microtime', $Tools.microtime(true));

    $App.init(location.pathname).run();
});
</script>
</body>
</html>