<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% stylesheets '@EncountersBundle/Resources/public/css/*' filter="yui_css" %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets '@EncountersBundle/Resources/public/css/ie/*' filter="yui_css" %}
<!--[if lt IE 9 ]><link rel="stylesheet" href="{{ asset_url }}" type="text/css"  /><![endif]-->
{% endstylesheets %}
</head>
<body>
<div id="wrapper">
<div class="app-layout">
    <div class="app-menu-bar">
        {% if controller == 'search' %}
        <i class="l-menu-rounder"></i>
        {% endif %}
        <i class="l-rounder"></i>
        <i class="r-rounder"></i>
        <div class="app-menu-bar-inner">
            <ul class="info-meet" style="float:right;">
                <li class="item-popul"><div class="{{ webuser.popularity.class }}"><b>{{ webuser.popularity.title }}</b> популярность</div></li>
                <li class="item-setting"><a{% if controller == 'preferences' %} class="active"{% endif %} href="/preferences"></a></li>
                <li class="item-energy"><b class="battery"><b style="width:{{ webuser.battery*15 }}%"></b></b> <i>{{ webuser.battery*20 }}%</i></li>
            </ul>
            <ul class="info-meet">
                <li class="item-game{% if controller == 'search' %} active{% endif %}"><a href="/search"><b>Поиск</b></a></li>
                <li class="item-mychoice{% if controller == 'mychoice' %} active{% endif %}"><a href="/mychoice"><b>Я выбрал{% if webuser.anketa.info.gender == 'F' %}а{% endif %}</b>  <i>{% if webuser.stats.mychoice %}{{ webuser.stats.mychoice }}{% endif %}</i></a></li>
                <li class="item-visitors{% if controller == 'visitors' %} active{% endif %}"><a href="/visitors"><b>Меня смотрели</b> <i>{% if webuser.stats.visited %}{{ webuser.stats.visited }}{% endif %}</i></a></li>
                <li class="item-mutual{% if controller == 'mutual' %} active{% endif %}"><a href="/mutual"><b>Взаимные</b> <i class="heart">{% if webuser.stats.mutual %}{{ webuser.stats.mutual }}{% endif %}</i></a></li>
            </ul>
        </div>
    </div>
</div>

{% if notification.message %}
<div class="notification">
    <a href="#" class="close"></a>
    <div class="text">{{ notification.message }}</div>
</div>
{% endif %}
{% block body %}{% endblock %}
{% include 'EncountersBundle:tools:ym.html.twig' %}
</div>
    {% block javascripts %}{% endblock %}
{% javascripts
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    filter="yui_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="http://js.aplatform.ru/app.js"></script>
<script>
$Config.set('debug', {% if app.debug %} 1 {% else %} 0 {% endif %});
{% autoescape false %}
{% if settings.platform %}$Config.set('platform', {{settings.platform}});{% endif %}
{% if settings.search %}$Config.set('search', {{settings.search}});{% endif %}
$Config.set('webuser', {{ webuser.json }});
$Routing.setRoutes({{ routes }});
{% endautoescape %}
{% block pagejs %}{% endblock %}
$(document).ready(function(){
    $App.init(location.pathname).run();
});
</script>
</body>
</html>