{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Мессенджер{% endblock %}
{% block stylesheets %}
    {% stylesheets
    '@EncountersBundle/Resources/public/css/pages/messenger/*'
    output="css/compiled/messenger.css"
    filter="?yui_css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="app_message-layout loader-big">
    <div class="layout-sidebar">

        <div class="b-empty_text">
            <span class="t-shadow">Никто не выбран</span>
        </div>

        <div class="b-list_users">
            <ul class="list-users"></ul>
            <div class="b-list_loading">Загрузка списка</div>
        </div>

        <div class="b-user_online">
            <span class="status-user status-on" title="Сейчас на сайте"></span>
            <span class="list-user_more">...</span>
            <ul class="list_users"></ul>
        </div>

    </div>

    <div class="layout-content">

    <div class="user-select">
        <h1 class="list-user_header lobster {% if webuser.preferences.gender == 'F' %}female{% else %}male{% endif %}">&nbsp;</h1>
        <ul class="list-user_select"></ul>
    </div>

    <div class="window-user_info window">

    <div class="user_info-inner">
    <div class="user_info-pic yes-photo">
        <a target="_blank">
            <img class="user_info-avatar"/>
            <span class="user_info-photo"><i></i></span>
        </a>
    </div>

    <div class="user_info">
    <h1 class="user-info_header">
        <a target="_blank" class="user-info_name"></a>
        <span class="user-info_details"><strong></strong><span></span></span>
    </h1>

    <ul class="tags-list"></ul>

    <ul class="orange-menu">
        {#<li class="item meet"><span>Встретиться</span></li>#}
        <li class="item gift"><span>Отправить подарок</span>
            <div class="drop_down drop_down-present">

                {% if gifts|length > 1 %}
                <ul class="ui-tabs">
                    {#<li class="ui-tabs_item ui-tabs_item-active"><span class="ui-tabs_item-link">Вкусности</span></li>#}
                    {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Гламурные</span></li>#}
                    {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Новогодние</span></li>#}

                    {% for id, collection in gifts %}
                        <li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">{{ collection.name }}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="ui-tabs_content">
                    <div id="tab-1" class="ui-tabs_panel" style="display: block">
                        <ul class="list-present">
                            {% for id, collection in gifts %}
                                {% for id, gift in collection.gifts %}
                                    <li class="list-present_item" gift_id="{{ gift.id }}">
                                        <span class="list-present_content">
                                            <img src="{{ gift.url }}" class="list-present_img">
                                            <span class="list-present_cost">{{ gift.cost }} </span>
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="tab-2" class="ui-tabs_panel">2</div>
                    <div id="tab-3" class="ui-tabs_panel">3</div>
                </div>

                <div class="form-send form-send_gift">
                    <form action="#" method="post">
                        <input type="hidden" id="preset_id" value="" />
                        <div class="input">
                            <textarea class="input_i" placeholder="Напишите комплимент"></textarea>
                        </div>
                        <span class="button active">Отправить</span>
                        <span class="form_label">Enter</span>
                    </form>
                </div>
            </div>
        </li>

        {#<li class="menu_item menu_arrow"><span>или</span>#}
            {#<div class="drop_down">#}
                {#<ul class="list_drop_down-menu">#}
                    {#<li class="list_item"><a href="#" class="list_item-link">Узнать, кто ей нравится</a></li>#}
                    {#<li class="list_item"><a href="#" class="list_item-link">В черный список</a></li>#}
                    {#<li class="list_item"><a href="#" class="list_item-link">Закрыть</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</li>#}
    </ul>
    </div>
    </div>
    <div class="user-info__shadow"></div>
    </div>

    <div class="window-user_message window">
        <ul class="messages__list messages__item_promo_hide"></ul>
    </div>

    <div class="window-user_form window *disabled-message">
        <div class="form_i">
            <form action="#" method="POST">
                <div class="input">
                    <div class="input_i" contenteditable="true"></div>

                    <span class="b-smile">
                        <i class="i-smile" title="Смайлики"></i>

                        <div class="b-pop_smile">
                            <i class="border"></i>
                            <ul class="list-smile">
                                {% for i in range(1, 52) %}
                                    <li class="list-smile_item"><i class="smile s-{{ i }}"></i></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </span>

                </div>

                {#<input type="submit" value="Отправить" class="button">#}
                <span class="button">Отправить</span>
                <span class="form_label">Enter</span>

            </form>
        </div>

        <div class="b-user_disabled">
            Вы уже отправили <span class="first"></span> 3 сообщения.<br />
            Как только <span class="second"></span> вам ответит, вы сможете продолжить общение c <span class="third"></span>.<br />
            Повысьте свои шансы на ответ, <span class="sent"></span><br />
        </div>
    </div>

    </div>
        {% include 'EncountersBundle:layers:layers.html.twig' %}
    </div>
{% endblock %}

{% block pagejs %}
{% if contact_id is defined %}
    $Config.set('contact_id', {{ contact_id }});
{% endif %}
{% endblock %}