{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Взаимные{% endblock %}

{% block body %}
<div class="content mutual">

    {% if data == null %}
    <div class="none">
        <div class="title">Вы еще ни с кем не совпали</div>
        <div class="info">Как только кто-то ответит вам взаимностью, <br>мы бросим все дела и сразу же сообщим<br> вам об этом!<br><br><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=search" class="button long">Начните смотреть и оценивать прямо сейчас</a>{#<div style="padding-top:15px;padding-bottom: 15px;">или</div><a class="ui-btn-big ui-btn">Получить 50 показов за 3<i class="coint"></i></a></div>#}
    </div>
    {% else %}
    <div class="pictures">
        <div class="title">Они ответили вам взаимностью</div>
        {% for item in data %}

        <div user_id="{{ item.info.user_id }}" small_photo_url="{{ item.avatar.small_photo_url }}" medium_photo_url="{{ item.avatar.medium_photo_url }}" name="{{ item.info.name }}" class="photoListItem" user_id="{{ item.info.user_id }}">
            <div class="background"></div>
            <a class="close"></a>
            <a class="profile-link" target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=profile{{ item.info.user_id }}"></a>
            <img src="{{ item.avatar.medium_photo_url }}"><br>
            <div class="info"><a target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id=355&extra=profile{{ item.info.user_id }}">{{ item.info.name }}</a>&nbsp;<i class="ico {% if item.info.gender == 'F' %}female{% else %}male{% endif %}"></i>&nbsp;{% if item.info.age %}<b>{{ item.info.age }}</b>{% endif %}</div>
            <div class="link"><a class="ln" href="#"></a></div>
        </div>

        {% endfor %}
        <br clear="all">
        {% include 'EncountersBundle:tools:paginator.html.twig' %}
    </div>
    {% endif %}

</div>
{% include 'EncountersBundle:layers:layers.html.twig' %}
{% endblock %}

{% block pagejs %}
{% if json %}
{% autoescape false %}
$Config.set('users', {{ json }});
{% endautoescape %}
{% endif %}
{% endblock %}