{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Взаимные{% endblock %}

{% block body %}
<style>
    div.content div.pictures div.mpic {
        margin-right: 25px;
    }
</style>

<div class="content">

    {% if data == null %}
    <div class="none">
        <div class="title">Вы еще ни с кем не совпали</div>
        <div class="info">Как только кто-то ответит вам взаимностью, <br>мы бросим все дела и сразу же сообщим<br> вам об этом!<br><br><a href="/search" class="button long">Начните смотреть и оценивать прямо сейчас</a><div style="padding-top:15px;padding-bottom: 15px;">или</div><a class="ui-btn-big ui-btn">Купить 100 показов за 1<i class="coint"></i></a></div>
    </div>
    {% else %}
    <div class="pictures">
        <div class="title">Они ответили вам взаимностью</div>
        {% for item in data %}

        <div class="mpic">
            <div class="ramka"></div>
            <img src="{{ item.info.medium_photo_url }}"><br>
            <div class="info"><a target="_blank" href="{{ platform.partner_url }}anketa.phtml?oid={{ item.info.oid }}">{{ item.info.name }}</a>&nbsp;<i class="ico {% if item.info.gender == 'F' %}female{% else %}male{% endif %}"></i>&nbsp;{% if item.info.age %}<b>{{ item.info.age }}</b>{% endif %}</div>
        </div>

        {% endfor %}
        <br clear="all">
        <div class='back'>&larr; <a href="/search">Назад к поиску</a></div>
    </div>
    {% endif %}

    {% include 'EncountersBundle:layers:layers.html.twig' %}
</div>
        {% endblock %}