{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Я выбрал{% endblock %}

{% block body %}
<div class="content">

    {% if data == null %}
    <div class="none">
        <div class="title">Кого я выбрал</div>
        <div class="info">На этой странице будут храниться фотографии тех,<br>кого вы выбрали. Как только кто-то ответит вам взаимностью, мы бросим все дела и сразу же сообщим вам об этом!<br><br><a href="/search" class="button">Начните поиск пары прямо сейчас</a></div>
    </div>
    {% else %}
    {% for item in data %}
        {#{{ item.getId() }} : {{ item.getWebUserId }} &rarr; {{ item.getCurrentUserId}} at {{ item.getChanged() }} for {{ item.getDecision() }} <br>#}
    {% endfor %}
    {% endif %}

    <div class="pictures">
        <div class="title">Вы хотите с ними стретиться</div>

        <div class="mcpic">
            <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
            Имя, <b>24</b><br>
            <div class="info">Ваш ответ: &laquo;да&raquo;</div>
            <div class="link"><a href="#">Она видела меня?</a></div>
        </div>

        <div class="mcpic">
            <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
            Имя, ж, 24<br>
            Ваш ответ: да
        </div>

        <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>

                <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>

        <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>

                <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>

        <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>

                <div class="mcpic">
                    <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                    Имя, ж, 24<br>
                    Ваш ответ: да
                </div>
        <br clear="all">
        <div class='back'>&larr; <a href="#">Назад к поиску</a></div>
    </div>
</div>
{% endblock %}