{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Профиль{% endblock %}
{% block stylesheets %}
    {% stylesheets
    '@EncountersBundle/Resources/public/css/pages/messenger/*'
    output="css/compiled/messenger.css"
    filter="?yui_css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}

    <div class="profile">
        <div style="position: relative; float:left;width:250px;">
            <div class="profile-picture">
                <img class="user_info-avatar" src="{{ profile.info.square_photo_url }}">
                <span class="profile-picture_col"><i>{{ profile.photos|length }}</i></span>
            </div>

            {% if not profile.myself %}
                <div style="position:absolute;top:260px;">
                    <a id="anketa-open" profile_id="{{ profile.info.oid }}" href="{% if purchased %}{{ platform.partner_url }}anketa.phtml?oid={{ profile.info.oid }}{% else %}#{% endif %}" class="ui-btn ui-btn-big">Открыть анкету на сайте</a>
                </div>
            {% endif %}
        </div>

        <div class="anketa-content">
            <div class="anketa-content_user">
                <span class="big">{{ profile.info.name }}</span> {% if profile.info.age > 0 %}<b>{{ profile.info.age }}</b>,{% endif %} <span class="small">{{ profile.location.city }}</span>
            </div>

            {%  if not profile.myself or profile.gifts|length > 0 %}
                <div class="anketa-content_user-present{% if profile.gifts|length == 0 %} no-present{% endif %}">
                    {% if not profile.myself %}
                        <div class="button-present">Отправить подарок</div>
                    {% endif %}
                    <div class="empty-block">Сообщение с подарком произведет <br /> впечатление и будет более заментым!</div>
                    <div class="list-present_user">
                        {% for gift in profile.gifts %}
                            <a user_id="{{ gift.web_user_id }}" name="{{ gift.sender.name }}" age="{{ gift.sender.age }}" city="{{ gift.sender.city }}" comment="{{ gift.comment }}" href="#" target="_self" class="list-present_user-item">
                                <img src="{{ gift.gift.url }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if not profile.myself %}
                <ul class="orange-menu">
                    <li class="item message"><span>Написать</span></li>
                    {% if not profile.rated %}
                        <li class="item meet"><span>Встретиться</span></li>
                    {% endif %}
                    {#<li class="item item-arrow"><span>или</span>#}
                        {#<div class="drop-down">#}
                            {#<ul class="list">#}
                                {#<li class="item"><a href="#" class="item-link">Узнать, кто ей нравится</a></li>#}
                                {#<li class="item"><a href="#" class="item-link">В черный список</a></li>#}
                                {#<li class="item"><a href="#" class="item-link">Закрыть</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</li>#}
                </ul>
            {% endif %}

            {% if not profile.myself %}
                {% if profile.interests|length > 0 %}
                    <div class="anketa-content_user-interes">
                        <div class="title">{% if profile.info.gender == 'M' %}Его{% else %}Ее{% endif %} интересы</div>
                        <ul class="tags-list">
                            {% for interest in profile.interests %}
                                <li class="tags-list_item">{{ interest }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}

            <div class="anketa-content_user-info">
                <div class="title">Информация</div>

                <div class="block-left">

                    {% if profile.familiarity is defined and profile.familiarity.lookfor is defined %}
                        <div class="block-info">
                            <div class="title">Познакомлюсь:</div>
                            <div class="content">{{ profile.familiarity.lookfor }}</div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and (profile.type.weight is defined or profile.type.height is defined) %}
                        <div class="block-info">
                            <div class="content">
                                {% if profile.type.height is defined and profile.type.height %}
                                    <div class="info"><b>Рост:</b> {{ profile.type.height }} см</div>
                                {% endif %}

                                {% if profile.type.weight is defined and profile.type.weight %}
                                    <div class="info"><b>Вес:</b> {{ profile.type.weight }} кг</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.orientation is defined and profile.type.orientation %}
                        <div class="block-info">
                            <div class="title">Ориентация:</div>
                            <div class="content">{{ profile.type.orientation }}</div>
                        </div>
                    {% endif %}

                    {% if profile.familiarity is defined and profile.familiarity.marital is defined and profile.familiarity.marital %}
                        <div class="block-info">
                            <div class="title">Состоит ли в браке:</div>
                            <div class="content">{{ profile.familiarity.marital }}</div>
                        </div>
                    {% endif %}

                </div>

                <div class="block-right">

                    {% if profile.familiarity is defined and profile.familiarity.targets is defined and profile.familiarity.targets %}
                        <div class="block-info">
                            <div class="title">Цель знакомства:</div>
                            <div class="content">
                                <ul class="list">
                                    {% for target in profile.familiarity.targets %}
                                        <li>{{ target }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.smoke is defined and profile.type.smoke %}
                        <div class="block-info">
                            <div class="title">Отношение к курению:</div>
                            <div class="content">{{ profile.type.smoke }}</div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.drink is defined and profile.type.drink %}
                        <div class="block-info">
                            <div class="title">Отношение к алкоголю:</div>
                            <div class="content">{{ profile.type.drink }}</div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% include 'EncountersBundle:layers:layers.html.twig' %}

{% endblock %}
{% block pagejs %}
$Config.set('current_user_id', {{ current_user_id }});
{% autoescape false %}
$Config.set('photos', {{ profile.photos|json_encode() }});
{% endautoescape %}
{% endblock %}