{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Профиль{% endblock %}

{% block body %}
    {#<div class="app-layer app-layer-present" style="top: 100px;">#}
        {#<a href="#" class="close"></a>#}
        {#<b class="ie-shadow">#}
            {#<b class="tl"><b></b></b><b class="tr"><b></b></b><b class="bl"><b></b></b><b class="br"><b></b></b><b class="tb"><b></b></b><b class="rb"><b></b></b><b class="lb"><b></b></b><b class="bb"><b></b></b>#}
        {#</b>#}
        {#<div class="app-layer-wrap">#}
            {#<div class="layer-present">#}
                {#<div class="title-present">Отправьте подарок!</div>#}
                {#<ul class="ui-tabs">#}
                    {#<li class="ui-tabs_item ui-tabs_item-active"><span class="ui-tabs_item-link">Вкусности</span></li>#}
                    {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Гламурные</span></li>#}
                    {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Новогодние</span></li>#}
                {#</ul>#}
                {#<div class="ui-tabs_content">#}
                    {#<div id="tab-1" class="ui-tabs_panel" style="display: block">#}
                        {#<ul class="list-present">#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                            {#<li class="list-present_item">#}
									{#<span class="list-present_content">#}
										{#<img src="img/present.png" class="list-present_img" alt="">#}
										{#<span class="list-present_cost">3 </span>#}
									{#</span>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div id="tab-2" class="ui-tabs_panel">2</div>#}
                    {#<div id="tab-3" class="ui-tabs_panel">3</div>#}
                {#</div>#}
                {#<div class="form-send form-send_gift">#}
                    {#<form action="#" method="post">#}
                        {#<input type="hidden" id="preset_id" value="" />#}
                        {#<div class="input">#}
                            {#<textarea class="input_i" placeholder="Напишите комплимент, например: «Ты почти что шикарная женщина»"></textarea>#}
                        {#</div>#}
                        {#<input type="submit" value="Отправить" class="button">#}
                        {#<span class="form_label">Enter</span>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="app-layer app-layer-photo" style="top: 100px;">#}
        {#<a href="#" class="close"></a>#}
        {#<b class="ie-shadow">#}
            {#<b class="tl"><b></b></b><b class="tr"><b></b></b><b class="bl"><b></b></b><b class="br"><b></b></b><b class="tb"><b></b></b><b class="rb"><b></b></b><b class="lb"><b></b></b><b class="bb"><b></b></b>#}
        {#</b>#}
        {#<div class="app-layer-wrap">#}
            {#<div class="photo-col">Фото 1 из 5</div>#}
            {#<div class="photo-image">#}
                {#<a class="photo-image_arrow arrow-left" href=""></a>#}
                {#<a class="photo-image_arrow arrow-right" href=""></a>#}
                {#<div class="photo-image_in">#}
                    {#<img src="temp/1.jpg" alt="" />#}
                    {#<img src="temp/1.jpg" alt="" />#}
                    {#<img src="temp/1.jpg" alt="" />#}
                    {#<img src="temp/1.jpg" alt="" />#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    <div class="profile">
        <div class="profile-picture yes-photo">
            <img class="user_info-avatar" src="{{ profile.info.square_photo_url }}">
            <span class="profile-picture_col"><i>{{ profile.photos|length }}</i></span>
        </div>

        <div class="anketa-content">
            <div class="anketa-content_user">
                <span class="big">{{ profile.info.name }}</span> {% if profile.info.age > 0 %}<b>{{ profile.info.age }}</b>,{% endif %} <span class="small">{{ profile.location.city }}</span>
            </div>
            <div class="anketa-content_user-present *no-present">
                <div class="button-present">Отправить подарок</div>
                <div class="empty-block">Сообщение с подарком произведет <br /> впечатление и будет более заментым!</div>
                <div class="list-present_user">
                    {# цикл по гифтам #}
                        <span class="list-present_user-item"></span>
                    {# конец цикла #}
                </div>
            </div>

            {% if not profile.myself %}
            <ul class="menu">
                <li class="menu_item"><span>Написать</span></li>
                <li class="menu_item"><span>Встретиться</span></li>
                <li class="menu_item menu_arrow"><span>или</span>
                    <div class="drop_down">
                        <ul class="list_drop_down-menu">
                            <li class="list_item"><a href="#" class="list_item-link">Узнать, кто ей нравится</a></li>
                            <li class="list_item"><a href="#" class="list_item-link">В черный список</a></li>
                            <li class="list_item"><a href="#" class="list_item-link">Закрыть</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            {% endif %}

            {% if profile.interests|length > 0 %}
                <div class="anketa-content_user-interes">
                    <div class="title">{% if profile.info.gender == 'M' %}Его{% else %}Ее{% endif %} интересы</div>
                    <ul class="tags-list">
                        {% for interest in profile.interests %}
                            <li class="tags-list_item">{{ interest }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="anketa-content_user-info">
                <div class="title">Информация</div>

                <div class="block-left">

                    {% if profile.familiarity is defined and profile.familiarity.lookfor %}
                        <div class="block-info">
                            <div class="title">Познакомлюсь:</div>
                            <div class="content">{{ profile.familiarity.lookfor }}</div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and (profile.type.weight is defined or profile.type.height is defined) %}
                        <div class="block-info">
                            <div class="content">
                                {% if profile.type.height is defined and profile.type.height %}
                                    <div class="info"><b>Рост:</b> {{ profile.type.height }} см</div>
                                {% endif %}

                                {% if profile.type.weight is defined and profile.type.weight %}
                                    <div class="info"><b>Вес:</b> {{ profile.type.weight }} кг</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.orientation is defined and profile.type.orientation %}
                        <div class="block-info">
                            <div class="title">Ориентация:</div>
                            <div class="content">{{ profile.type.orientation }}</div>
                        </div>
                    {% endif %}

                    {% if profile.familiarity is defined and profile.familiarity.marital is defined and profile.familiarity.marital %}
                        <div class="block-info">
                            <div class="title">Состоит ли в браке:</div>
                            <div class="content">{{ profile.familiarity.marital }}</div>
                        </div>
                    {% endif %}
                </div>

                <div class="block-right">

                    {% if profile.familiarity is defined and profile.familiarity.targets is defined and profile.familiarity.targets %}
                        <div class="block-info">
                            <div class="title">Цель знакомства:</div>
                            <div class="content">
                                <ul class="list">
                                    {% for target in profile.familiarity.targets %}
                                        <li>{{ target }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.smoke is defined and profile.type.smoke %}
                        <div class="block-info">
                            <div class="title">Отношение к курению:</div>
                            <div class="content">{{ profile.type.smoke }}</div>
                        </div>
                    {% endif %}

                    {% if profile.type is defined and profile.type.drink is defined and profile.type.drink %}
                        <div class="block-info">
                            <div class="title">Отношение к алкоголю:</div>
                            <div class="content">{{ profile.type.drink }}</div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% include 'EncountersBundle:layers:layers.html.twig' %}
{% endblock %}