{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Поиск{% endblock %}

{% block body %}
<div class="app-main">
    <div class="app-page">
        <div class="app-block-no-popular" style="display: {% if webuser.popularity.level < 4 %}{% if variables.search_no_popular_block_hidden == 1 %}none{% else %}block{% endif %}{% else %}none{%endif%};">
            <a class="close"></a>
            {#<i class="arrow"></i>#}
            <div class="info-block">
                <div class="photo">{% if webuser.anketa.avatar.small_photo_url %}<img src="{{ webuser.anketa.avatar.small_photo_url }}">{%else%}<img src="/bundles/encounters/images/photo_little_na.gif">{% endif %}</div>
                <div class="message">
                    <div class="message-alert">Пусть ваше фото показывают {% if webuser.preferences.gender == 'M' %}мужчинам{% else %}девушкам{% endif %} чаще!</div>
                    <div class="message-help">Ваша популярность взлетит до небес &mdash; <a id="getmore" href="#">показать мое фото еще 50 раз</a></div>
                </div>
            </div>
        </div>

        <div class="app-title">Вы бы встретились с {% if webuser.preferences.gender == 'F' %}ней{% else %}ним{% endif %}?</div>
        <div class="app-meet-button">

            <a class="link" target="_top" href="{{ platform.partner_url }}app_platform/?action=view&app_id={{ platform.app_id }}&extra=mychoice">История</a>
            <a class="link" href="/preferences">Настройка</a>

            <a href="javascript:void(0);" class="yes app-menu1">Да!</a>
            <a href="javascript:void(0);" class="maybe app-menu2">Возможно</a>
            <a href="javascript:void(0);" class="no app-menu3">Нет</a>

            <div class="item-popularity">
                <div class="bar">
                    <div class="level-background lbc{{ (webuser.popularity.energy - webuser.popularity.prev)*100/(webuser.popularity.next - webuser.popularity.prev) // 25 + 1  }}"></div>
                    <div class="level l{{ webuser.popularity.level }}"></div>
                    <div class="speedo-background"></div>
                    <div class="speedo" style="width:{{ (webuser.popularity.energy - webuser.popularity.prev)*100/(webuser.popularity.next - webuser.popularity.prev)*0.99 // 1 }}px;"></div>
                </div>
            </div>
        </div>

        <p class="app-see-block">{% if webuser.preferences.gender == 'F' %}Она уже видела{% else %}Он уже видел{% endif %} ваше фото? <a href="#">Узнайте</a></p>

        <div class="app-image-member">
            <div class="image-container">
                <div class="name-container">
                    <div class="container">
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="content">
                            <a href="#"></a>  <i class="ico"></i> <span></span>
                        </div>
                    </div>
                </div>
                <img class="app-image"/>
            </div>
        </div>

        <div class="app-lenta">
            <a href="#" class="larr"><img height="31" width="31" src="/bundles/encounters/images/strelki-suda_1.png"></a>
            <a href="#" class="lf arr"></a>
            <div id="thumbs" class="app-lenta-img"></div>
            <a href="#" class="rt arr"></a>
            <a href="#" class="rarr"><img height="31" width="31" src="/bundles/encounters/images/strelki-tuda_1.png"></a>
        </div>
    </div>
</div>
{% include 'EncountersBundle:layers:layers.html.twig' %}
</div>
{% endblock %}

{% block pagejs %}
{% if queues.current %}

var $currentQueue = {{ queues.current }};
for (var $key=0;$key<$currentQueue.length;$key++) {
    $Queue.put($currentQueue[$key]);
}

{% endif %}

{% if active_id is defined %}
    $Config.set('active_id', {{ active_id }});
{% endif %}
{% endblock %}